<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=5.0;">
	<title>Вступ та проходження державної служби</title>
	<link th:href="@{/css/info-pages.css}" rel="stylesheet" type="text/css">
	<link rel="icon" th:href="@{/img/logo.png}" type="image/icon type">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>

<body>
	<div class="container">
		<header th:insert="~{home :: header}">
		</header>

		<aside class="sidebar" th:insert="~{home :: aside}">
		</aside>

		<main class="main_content">
			<h1 class="main_header">Вступ та проходження державної служби</h1>
			<div class="section-container">
				<section class="link_section">
					<div class="link_block">
						<a id="link" th:href="@{/documents/Zruchnobuk.pdf}" target="_blank">Зручнобук</a>
						<a id="link" href="https://test.gudsweb.org/" target="_blank">Тестування держслужби</a>
						<a id="link"
							th:href="@{/documents/%D1%81%D1%82%D0%B0%D0%B6%D1%83%D0%B2%D0%B0%D0%BD%D0%BD%D1%8F.pdf}"
							target="_blank">Стажування</a>
						<a id="link" th:href="@{/documents/%D0%9D%D0%B0%D0%BA%D0%B0%D0%B7_93.pdf}"
							target="_blank">Практика</a>
						<a id="link"
							th:href="@{/documents/%D0%9C%D0%95%D0%9C%D0%9E%D0%A0%D0%90%D0%9D%D0%94%D0%A3%D0%9C%D0%98.pdf}"
							target="_blank">Меморандум</a>
						<a id="link"
							th:href="@{/documents/%D0%9F%D0%A0%D0%90%D0%92%D0%98%D0%9B%D0%90%20%D0%B2%D0%BD%D1%83%D1%82%D1%80%D1%96%D1%88%D0%BD%D1%8C%D0%BE%D0%B3%D0%BE%20%D1%81%D0%BB%D1%83%D0%B6%D0%B1%D0%BE%D0%B2%D0%BE%D0%B3%D0%BE%20%D1%80%D0%BE%D0%B7%D0%BF%D0%BE%D1%80%D1%8F%D0%B4%D0%BA%D1%83.pdf}"
							target="_blank">Внутрішній розпорядок</a>
					</div>
				</section>
				<section>
					<h4>Необхідні документи для прийняття на роботу</h4>
					<ul class="Docs-title">
						<li>особова картка державного службовця видрукована і в електронному форматі;</li>
						<li>автобіографія;</li>
						<li>фото в електронному вигляді;</li>
						<li>копія та оригінал паспорта;</li>
						<li>копія та оригінал ідентифікаційного коду;
						</li>
						<li>копії та оригінали документів про освіту з додатками посвідчені нотаріально та по одній
							звичайній копії;</li>
						<li>копії та оригінали документів про науковий ступінь, вчене звання посвідчені нотаріально та
							по одній звичайній копії;</li>
						<li>копії та оригінали документів про підвищення кваліфікації;</li>
						<li>копія та оригінал військового квитка (у разі наявності);</li>
						<li>кандидатові треба внести трудову книжку в електронний кабінет; </li>
						<li>довідки з пенсійного фонду з ДРФО про загальний і страховий стаж, довідки ОК-5 та ОК-7;
						</li>
						<li>копія трудової книжки завірена кадровою службою;</li>
						<li>заява про прийняття паперової трудової книжки;</li>
						<li>копія присяги державного службовця завірена кадровою службою; </li>
						<li>копії та оригінали документів про надані пільги (у разі наявності);</li>
						<li>сертифікат про проходження профілактичного наркологічного огляду;</li>
						<li>сертифікат про проходження психіатричного огляду;</li>
						<li>копії та оригінали свідоцтв про народження дітей;</li>
						<li>копія та оригінал документу про зміну прізвища (у разі зміни); </li>
						<li>довідка про несудимість;</li>
						<li>підтвердження про володіння українською мовою;</li>
						<li>письмове повідомлення про проведення спецперевірки за попереднім місцем праці;</li>
						<li>довідка про проходження спецперевірки за попереднім місцем праці завірена кадровою службою
							(з 25.01.2012 почала проводитись);</li>
						<li>копія довідки про проходження люстрації з попереднього місця праці завірена в установленому
							порядку. Якщо немає, то довідка про стан проходження люстраційної перевірки, копія заяви та
							повідомлення про початок проходження люстрації з попереднього місця праці;</li>
						<li>роздруківка з сайту мінюсту про очищення влади;</li>
						<li>скан сторінки про розміщення результатів про очищення влади; </li>
						<li>електронна декларація про майно, доходи, витрати і зобов'язання фінансового характеру за
							2021 рік як кандидата на посаду заповнена на офіційному веб-сайті Національного агентства з
							питань запобігання корупції;</li>
						<li>біографічна довідка в електронному вигляді;</li>
						<li>довідка про вакцинацію</li>
						<li>довідка чи посада відноситься до посад державної служби і яка категорія і группа оплати
							праці. </li>
						<li>довідка щодо діючих доган, проведення службових перевірок чи розслідувань або скарг на дії
							посадової особи, перебування у відпустці для догляду за дитиною з попереднього місця праці;
						</li>
						<li>відомості щодо зайняття підприємницькою діяльністю;</li>
						<li>довідка про відпустки та матеріальні допомоги; </li>
						<li>попередня довідка про люстрацію;</li>
						<li>спецперевірка для категорії ,,Б”;</li>
						<li>обмеження;</li>
						<li>витяг з єдиного державного реєстру осіб, які вчинили корупційні або пов’язані з корупцією
							правопорушення</li>
						<li>протокол конкурсу;</li>
						<li>заява про призначення на посаду (з вказанням на час декрету).</li>

					</ul>
				</section>
			</div>
		</main>
		<button class="scrollToTopBtn">
			<img th:src="@{/img/arrow_top.png}" width="20">
		</button>

		<footer th:insert="~{home :: footer}">
		</footer>
	</div>
	<script th:src="@{/js/scripts.js}"></script>
</body>

</html>