<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>Працівники</title>
	<link rel="stylesheet" th:href="@{/css/all.css}">
	<link rel="icon" th:href="@{/img/logo.png}" type="image/icon type">
</head>

<body>
	<h1>Зареєстровані працівники</h1>
	<div class="table-wrapper">
		<table class="fl-table">
			<thead>
				<tr>
					<th scope="col">№</th>
					<th scope="col">Ім'я</th>
					<th scope="col">Прізвище</th>
					<th scope="col">Підрозділ</th>
					<th scope="col">Номер телефону</th>
					<th scope="col">Електронна пошта</th>
					<th scope="col">Дата народження</th>

					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<th scope="row" th:text="${user.id}"></th>
					<th scope="row" th:text="${user.firstName}"></th>
					<th scope="row" th:text="${user.lastName}"></th>
					<th scope="row" th:text="${user.department}"></th>
					<th scope="row" th:text="${user.phoneNumber}"></th>
					<th scope="row" th:text="${user.email}"></th>
					<th scope="row" th:text="${user.birthDate}"></th>
					<td>
						<form th:action="@{'edit/{id}'(id=${user.id})}">
							<button class="edit-button" type="submit">Змінити</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="return-link">
		<a th:href="@{/profile}">Назад</a>
	</div>
</body>

</html>