<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>Змінити інформацію про працівника</title>
	<link rel="stylesheet" th:href="@{/css/login_registration.css}">
	<link rel="icon" th:href="@{/img/logo.png}" type="image/icon type">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="container">
		<div class="forms">
			<div class="form-content">
				<div class="edit-form">
					<div class="title">Змінити інформацію про працівника</div>
					<form method="post" th:action="@{'/registered/edit/{id}'(id=${user.id})}" th:object="${user}">
						<div class="input-boxes">
							<p>Ім'я</p>
							<div class="input-box">
								<i class="fas fa-pencil-alt"></i>
								<input type="text" id="firstName" name="firstName" th:field="*{firstName}" />
							</div>
							<p>Прізвище</p>
							<div class="input-box">
								<i class="fas fa-pencil-alt"></i>
								<input type="text" id="lastName" name="lastName" th:field="*{lastName}" />
							</div>
							<p>Електронна пошта</p>
							<div class="input-box">
								<i class="fa fa-calendar"></i>
								<input type="text" id="email" name="email" th:field="*{email}" />
							</div>
							<p>Дата народження</p>
							<div class="input-box">
								<i class="fa fa-calendar"></i>
								<input type="text" id="birthDate" name="birthDate" th:field="*{birthDate}" />
							</div>
							<p>Підрозділ</p>
							<div class="input-box">
								<i class="fas fa-pencil-alt"></i>
								<input type="text" id="department" name="department" th:field="*{department}" />
							</div>
							<p>Номер телефону</p>
							<div class="input-box">
								<i class="	fas fa-pencil-alt"></i>
								<input type="text" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" />
							</div>
							<input type="hidden" id="id" name="id" th:field="*{id}" />
							<input type="hidden" id="password" name="password" th:value="${user.password}">
							<div class="button input-box">
								<input type="submit" value="Змінити">
							</div>
							<div class="text back-text"><label>
								<a th:href="@{/registered/all}">Назад</a></label>
							</div>
						</div>
					</form>
					<form method="post" th:action="@{'/registered/delete/{id}' (id=${user.id})}">
						<button class="delete-button" type="submit">Видалити</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>