<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>Звільнені працівники</title>
	<link rel="stylesheet" th:href="@{/css/all.css}">
	<link rel="icon" th:href="@{/img/logo.png}" type="image/icon type">
</head>

<body>
	<h1>Звільнені працівники</h1>

	<div class="table-wrapper">
		<table class="fl-table">
			<thead>
				<tr>
					<th scope="col">№</th>
					<th scope="col">Ім'я</th>
					<th scope="col">Прізвище</th>
					<th scope="col">Підрозділ</th>
					<th scope="col">Номер телефону</th>
					<th scope="col">Дата народження</th>
					<th scope="col">Причина звільнення</th>
					<th scope="col">Дата звільнення</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="fireduser : ${firedusers}">
					<th scope="row" th:text="${fireduser.id}"></th>
					<th scope="row" th:text="${fireduser.firstName}"></th>
					<th scope="row" th:text="${fireduser.lastName}"></th>
					<th scope="row" th:text="${fireduser.department}"></th>
					<th scope="row" th:text="${fireduser.phoneNumber}"></th>
					<th scope="row" th:text="${fireduser.birthDate}"></th>
					<th scope="row" th:text="${fireduser.firingReason}"></th>
					<th scope="row" th:text="${fireduser.firingDate}"></th>
					<td>
						<form th:action="@{'edit/{id}'(id=${fireduser.id})}">
							<button type="submit" class="edit-button">Змінити</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="links">
		<a th:href="@{export}">Завантажити таблицю у форматі Excel</a>
		<a th:href="@{add}">Додати новий запис</a>
		<a th:href="@{/profile}">Назад</a>
	</div>
</body>

</html>