<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>Змінити інформацію про працівника</title>
	<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" rel="stylesheet">
</head>

<body>
	<div class="text-center">
		<h1>Додати нового звільненого працівника</h1>
	</div>
	<div class="tab-content mb-3">
		<div aria-labelledby="pills-general-tab" class="tab-pane fade show active" id="pills-general" role="tabpanel"
			tabindex="0">
			<div class="w-100 p-4 d-flex justify-content-center pb-4">
				<form method="post" th:action="@{save}" th:object="${newfireduser}">
 					
 					<input type="hidden" id="id" name="id" th:field="*{id}" />
						<input type="text" id="firstName" name="firstName" th:field="*{firstName}" />
						<input type="text" id="lastName" name="lastName" th:field="*{lastName}" />
						<input type="text" id="department" name="department" th:field="*{birthDate}" />
						<input type="text" id="birthDate" name="birthDate" th:field="*{department}" />
						<input type="text" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" />
						<input type="text" id="firingReason" name="firingReason" th:field="*{firingReason}" />
						<input type="text" id="firingDate" name="firingDate" th:field="*{firingDate}" />
 					
					<div class="text-center">
						<button class="btn btn-primary" type="submit">Додати</button>
					</div>
				</form>
			</div>

			<div class="text-center">
				<a class="btn btn-primary" th:href="@{all}">Назад</a>
			</div>
		</div>
	</div>

</body>

</html>