<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<head>
	<title>Сторінка не знайдена</title>
	<link rel="stylesheet" th:href="@{/css/error.css}">
	<link rel="icon" th:href="@{/img/logo.png}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<main>
		<center>
			<div class="error_message">
				<div class="error" th:text="${status}"/>
				<h1>Виникла помилка, спробуйте ще раз.</h1>
        		<div class="error" sec:authorize="hasRole('ADMIN')" th:text="${exception}"/>
				<h3><a href="/">На головну</a></h3>
			</div>
		</center>
	</main>
</body>

</html>