<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>Змінити пароль</title>
	<link rel="stylesheet" th:href="@{/css/login_registration.css}">
	<link rel="icon" th:href="@{/img/logo.png}" type="image/icon type">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
	<div class="container">
		<div class="forms">
			<div class="form-content">
				<div class="edit-form">
					<div class="title">Введіть пошту для подальшої зміни пароля</div>
					<div th:if="${error != null}">
						<p>[[${error}]]</p>
					</div>
					<div th:if="${message != null}">
						<p>[[${message}]]</p>
					</div>
					<form method="post" th:action="@{/password}">
						<div class="input-boxes">
							<div class="input-box">
								<i class="fas fa-envelope"></i>
								<input type="email" name="email" placeholder="Введіть електронну пошту" required />
							</div>
							<div class="button input-box">
								<input type="submit" value="Відправити">
							</div>
							<div class="text back-text"><label>
								<a th:href="@{profile}">Назад</a></label>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>