<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Сторінка працівника</title>

	<link rel="stylesheet" th:href="@{/css/profile.css}">
	<link rel="icon" href="@{/img/logo.png}" type="image/icon type">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>

	<a href="/logout" id="logout">
		<i class="fa fa-sign-out-alt fa-2x"></i>
	</a>

	<div class="title">
		<h1>Персональна сторінка</h1>
	</div>

	<div class="main">
		<h2>Інформація</h2>
		<div class="card">
			<div class="card-body">


			</div>
		</div>

		<h2>Основне</h2>
		<div class="card">
			<div class="card-body">
				<div class="link_block">
					<a id="link" th:href="@{/registered/all}">Зареєстровані працівники</a>
					<a id="link" th:href="@{/fired/all}">Звільнені працівники</a>
					<a id="link" th:href="@{/password}">Змінити пароль</a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>