<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Сторінка працівника</title>

	<link rel="stylesheet" th:href="@{/css/profile.css}">
	<link rel="icon" href="@{/img/logo.png}" type="image/icon type">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>

	<a href="/logout" id="logout">
		<i class="fa fa-sign-out-alt fa-2x"></i>
	</a>

	<div class="title">
		<h1>Персональна сторінка</h1>
	</div>

	<div class="main">
		<h2>Інформація</h2>
		<div class="card">
			<div class="card-body">
			
			 <div sec:authorize="hasRole('ADMIN')"> 
				<h6>Адміністратор</h6>
			</div>
			<div sec:authorize="hasRole('USER')"> 
				<h6>Користувач</h6>
			</div>
			
			 <form th:action="@{'/registered/edit/{id}'(id=${id})}">
					<input type="image" th:src="@{/img/pencil.png}"></input>
			</form>
				<table>
					<tbody>
						<tr>
							<td>№</td>
							<td th:text="${id}"/>
						</tr>
						<tr>
							<td>Ім'я</td>
							<td th:text="${firstName}"/>
						</tr>
						<tr>
							<td>Прізвище</td>
							<td th:text="${lastName}"/>
						</tr>
						<tr>
							<td>Електронна пошта</td>
							<td th:text="${email}"/>
						</tr>
						<tr>
							<td>Номер телефону</td>
							<td th:text="${phoneNumber}"/>
						</tr>
						<tr>
							<td>Підрозділ</td>
							<td th:text="${department}"/>
						</tr>
						<tr>
							<td>Дата народження</td>
							<td th:text="${birthDate}"/>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		 
		<h2>Основне</h2>
		<div class="card">
			<div class="card-body">
				<div class="link_block">
					<a id="link" th:href="@{/registered/all}">Зареєстровані працівники</a>
					<a id="link" th:href="@{/fired/all}">Звільнені працівники</a>
					<a id="link" th:href="@{/password}">Змінити пароль</a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>