<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Реєстрація</title>
	<link rel="stylesheet" th:href="@{/css/login_registration.css}">
	<link rel="icon" th:href="@{/img/logo.png}" type="image/icon type">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="container">
		<div class="forms">
			<div class="form-content">
				<div class="login-form">
					<div class="title">Реєстрація</div>
					<div th:if="${param.success}">
						<div class="alert alert-info">Вітаємо ви успішно зареєструвалися!</div>
					</div>
					<form method="post" role="form" th:action="@{/registration/save}" th:object="${user}">
						<div class="input-boxes">
							<div class="input-box">
								<i class="fas fa-pencil-alt"></i>
								<input type="text" placeholder="Введіть ім'я" id="firstName" name="firstName"
									th:field="*{firstName}" />
								<p th:errors="*{firstName}" class="text-danger"
									th:if="${#fields.hasErrors('firstName')}">
								</p>
							</div>
							<div class="input-box">
								<i class="fas fa-pencil-alt"></i>
								<input type="text" placeholder="Введіть прізвище" id="lastName" name="lastName"
									th:field="*{lastName}" />
								<p th:errors="*{lastName}" class="text-danger" th:if="${#fields.hasErrors('lastName')}">
								</p>
							</div>
							<div class="input-box">
								<i class="fas fa-envelope"></i>
								<input type="text" placeholder="Введіть пошту" id="email" name="email"
									th:field="*{email}" />
								<p th:errors="*{email}" class="text-danger" th:if="${#fields.hasErrors('email')}">
								</p>

							</div>
							<div class="input-box">
								<i class="fas fa-lock"></i>
								<input type="password" placeholder="Введіть пароль" id="password" name="password"
									th:field="*{password}" />
								<p th:errors="*{password}" class="text-danger" th:if="${#fields.hasErrors('password')}">
								</p>
							</div>
							<div class="input-box">
								<i class="fa fa-calendar"></i>
								<input type="text" placeholder="Введіть дату народження" id="birthDate" name="birthDate"
									th:field="*{birthDate}" />
								<p th:errors="*{birthDate}" class="text-danger"
									th:if="${#fields.hasErrors('birthDate')}">
								</p>
							</div>
							<div class="input-box">
								<i class="	fas fa-pencil-alt"></i>
								<input type="text" placeholder="Введіть підрозділ" id="department" name="department"
									th:field="*{department}" />
								<p th:errors="*{department}" class="text-danger"
									th:if="${#fields.hasErrors('department')}">
								</p>
							</div>
							<div class="input-box">
								<i class="	fas fa-pencil-alt"></i>
								<input type="text" placeholder="Введіть номер телефону" id="phoneNumber"
									name="phoneNumber" th:field="*{phoneNumber}" />
								<p th:errors="*{phoneNumber}" class="text-danger"
									th:if="${#fields.hasErrors('phoneNumber')}">
								</p>
							</div>
							<div class="button input-box">
								<input type="submit" value="Зареєструватися">
							</div>
							<div class="text sign-in-text"><label><a th:href="@{/login}">Увійти</a></label></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>